html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: system-ui;
  }

a {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  color: darkmagenta;
}
  /* OTHER STYLES */

  .first-face {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .second-face {
    display: flex;
    justify-content: space-between;
  }
  
  .second-face .pip:nth-of-type(2) {
    align-self: flex-end;
  }
  
  .third-face {
    display: flex;
    justify-content: space-between;
  }
    
  .third-face .pip:nth-of-type(2) {
    align-self: center;
  }
  
  .third-face .pip:nth-of-type(3) {
    align-self: flex-end;
  }
  
  .fourth-face, .sixth-face {
    display: flex;
    justify-content: space-between;
  }
  
  .fourth-face .column, .sixth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fifth-face {
    display: flex;
    justify-content: space-between;
  }
    
  .fifth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
    
  .fifth-face .column:nth-of-type(2) {
    justify-content: center;
  }
  


  [class$="face"] {
    margin: 16px;
    padding: 4px;
    
    background-color: #b4d3b9;
    width: 104px;
    height: 104px;
    object-fit: contain;
    
    
    border-radius: 10%;
  }
  
  .pip {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 4px;
    background-color: #4e916f;
  }

  .gameArea {
    height: 70%;
    width: 70%;
    position: relative;
    text-align: center;
  }

  .userInputs {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .dice {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .history {
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    display: inline;
  }

